/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 févr. 2014, 14:32:22
    Author     : Grégoire
*/

html{
    background: url("../images/texture_brique.png");
    background-repeat: repeat;
    background-size: 50%;
    margin: 0;
}

body{
    width: 950px;
    margin: 0 auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.5);
    //background: rgba(0,0,0,0.5);
}

header{
    height: 70px;
    background: url("../images/texture_paper.png");
    background-repeat: repeat;
    //background: rgb(210,190,150);
    padding-left: 15px;
    padding-right: 15px;
}

#logo{
    display: inline-block;
    width: 250px;
    vertical-align: middle;
    margin: 15px;
}

#logo_cc{
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    margin: 5px;
}

li{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
}

.login{
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    margin-left: 65px;
}

#menu{
    height: 25px;
    display: block;
}

#menu > ul > li{
    width: 225px;
    list-style-type: none;
}
#menu > ul > li > a {
    color: whitesmoke;
    font-size: 1.5em;
    border-radius: 3px;
    padding: 5px 10px;
}
#menu > ul > li > a:hover {
    background-color: rgba(0,0,0,0.5);
}

#content{
    min-height: 500px;
    margin: 15px;
    background: url("../images/texture_paper.png");
    background-repeat: repeat;
    //background: rgb(255,255,240);
    border-radius: 10px;
    padding: 5px;
}

h1{
    color: rgb(150,20,20);
    margin: 0;
}


.product_box{
    height: 302px;
    width: 400px;
    margin: 20px;
    float: left;
    border: solid 2px darkolivegreen;
}

.image_box > img{
    height: 200px;
}
.image_box{
    overflow: hidden;
}


table{
    border:1px solid  black;
}
td{
    border:1px solid  black;
}

footer{
    margin: 0;
    height: 70px;
    background-color: rgb(100,85,60);
    margin-bottom: 20px;
}

footer > p{
    margin:0;
    color: white;
    text-align: center;
    padding-top: 15px;
}

#logos{
    height: 20px;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 100%;
    width: auto;
    padding: 5px;
}

a{
    text-decoration: none;
}

img{
    max-width: 850px;
}